<div>
    <h1 data-th-text="${title}"></h1>
    <p data-th-if="${preface}" data-th-utext="${preface}"></p>
    <p data-th-if="${guidance}" data-th-utext="${guidance}"></p>
    <p data-th-if="${lawText}" data-th-text="${lawText}"></p>
</div>