<head data-th-fragment="defaultHead">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport"
          content="initial-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=yes"/>
</head>