<div>
    <h2 data-th-if="${sectionHeading}" data-th-text="${sectionHeading}"></h2>
    <h3 data-th-if="${lawHeading}" data-th-text="${lawHeading}"></h3>
    <p data-th-if="${lawText}" data-th-text="${lawText}"></p>
</div>